

body {
  background: #161617;
  color: rgb(0, 0, 0);
  font-family: 'SF Pro Display';
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
a, h3{
    color: #161617;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}
.page1 #background-image{
  background-image: url(/static/image/act1.png);
}
.page2 #background-image{
  background-image: url(/static/image/act2_neg.png);
  }
  
  .page3 #background-image{
  background-image: url(/static/image/act3.png);
  }
  
  .page4 #background-image{
  background-image: url(/static/image/act4.png);
  }
  
  .page5 #background-image{
  background-image: url(/static/image/act5.png);
  }
  
  .page6 #background-image{
  background-image: url(/static/image/act6.png);
  }
  
  .page7 #background-image{
  background-image: url(/static/image/act7.png);
  }
  
  .page8 #background-image{
  background-image: url(/static/image/act8.png);
  }
  
  .page16 #background-image{
    background-image: url(/static/image/mazefin.png);
    }
    .page17 #background-image{
      background-image: url(/static/image/generateur.png);
      }
        .page19 #background-image{
          background-image: url(/static/image/porte.png);
          }


#background-image {
  background-size: cover;
  filter: blur(65px) invert(0%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}



#image-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#image-container img {
  width: 60vh;
}

#acttransi {
  width: 100%;
  transition: opacity 1s ease-in-out;
}


#text-container {
  text-align: center;
  padding: 20px;
}

#text-container h4 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#text-container p {
  font-size: 1.2em;
}


#button-container{
    width: 30vh;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: rgb(234, 234, 234);
    padding: 5%;
  }
  a .button:hover h3{
    border-bottom-color: #161617;
  }
  
  .page18 #background-image{
    background-image: url(/static/image/nononon.png);
    filter: inherit;
    }
  
#countdown{
  color: red;
}