

body {
  background: #161617;
  color: white;
  font-family: 'SF Pro Display';
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
a, h3{
    color: #161617;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}
.page1 #background-image{
  background-image: url(/static/image/act1.png);
}
.page2 #background-image{
  background-image: url(/static/image/act2.png);
  filter: blur(65px) invert(0%);
  }
  
  .page3 #background-image{
  background-image: url(/static/image/act3.png);
  }
  
  .page4 #background-image{
  background-image: url(/static/image/act4.png);
  }
  
  .page5 #background-image{
  background-image: url(/static/image/act5.png);
  }
  
  .page6 #background-image{
  background-image: url(/static/image/act6.png);
  }
  
  .page7 #background-image{
  background-image: url(/static/image/act7.png);
  }
  
  .page8 #background-image{
  background-image: url(/static/image/act8.png);
  }
  
  .page9 #background-image{
  background-image: url(/static/image/act9.png);
  }
  
  .page10 #background-image{
  background-image: url(/static/image/act10.png);
  }
  
  .page11 #background-image{
  background-image: url(/static/image/act11.png);
  }
  
  .page12 #background-image{
  background-image: url(/static/image/act12.png);
  }
  
  .page13 #background-image{
  background-image: url(/static/image/act13.png);
  }
  
  .page14 #background-image{
  background-image: url(/static/image/act14.png);
  }
  
  .page15 #background-image{
  background-image: url(/static/image/act15.png);
  }


#background-image {
  background-size: cover;
  filter: blur(65px);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}



#image-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#image-container img {
  width: 60vh;
}

#acttransi {
  width: 100%;
  transition: opacity 1s ease-in-out;
}


#text-container {
  text-align: center;
  padding: 20px;
}

#text-container h4 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#text-container p {
  font-size: 1.2em;
}


#button-container{
    width: 30vh;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: white;
    padding: 5%;
  }
  a .button:hover h3{
    border-bottom-color: #161617;
  }