*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* NAV BAR */
.nav-pc{
    display: flex;
    background-color: black;
}

.nav-pc li a{
    color: white;
}

.right-li{
    float: right;
}

/* NAV BAR *//* FIN */

/* Prez 1 */
.prez-1{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}
.prez-1 article {
    width: 50%;
}
/*3D */
.scene3d {
    background: radial-gradient(closest-side, #d9d9d9, #d9d9d900, #d9d9d900);
    /* width: 100%;
    margin-left: 50px; */
}
#canvas{
    margin-left: -50%;
}
/* Prez 1 *//* FIN */
/*3D */

/* Prez 2 */
.prez-2{
    height: 100vh;
    background-color: white;
    color: black;
}
.prez-2 article {
    width: 50%;
}
/* Prez 2 *//* FIN */
